services:
  - type: web
    name: geolyze-api
    runtime: docker
    rootDir: api
    dockerfilePath: ./Dockerfile
    envVars:
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_SERVICE_KEY
        sync: false
      - key: SUPABASE_JWT_SECRET
        sync: false
      - key: UPSTASH_REDIS_URL
        sync: false
      - key: UPSTASH_REDIS_TOKEN
        sync: false
      - key: CORS_ORIGINS
        sync: false
      - key: PORT
        value: "8000"
